@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--color-black: #191a20;
	--color-white: #fff;

	--color-highlight-bg: rgba(175, 184, 193, 0.15);

	--color-gray-50: #f3f4f4;
	--color-gray-100: #f9fafb;
	--color-gray-200: #f2f4f6;
	--color-gray-300: #e5e8eb;
	--color-gray-400: #d1d6db;
	--color-gray-500: #b0b8c1;
	--color-gray-600: #8b95a1;
	--color-gray-700: #6b7684;
	--color-gray-800: #4e5968;
	--color-gray-900: #333d4b;
	--color-gray-950: #191f28;
	--color-transparent-bgColor-hover: #b1bac41f;

	--color-green-100: #76e4b8;
	--color-green-200: #3fd599;
	--color-green-300: #15c47e;
	--color-green-400: #0e7b6c;

	--color-blue-50: #4389ca;
	--color-blue-100: #0687f0;
	--color-blue-200: #2272eb;
	--color-blue-300: #e8f2ff;

	--color-purple: #6466f1;

	--color-yellow: #ffd644;

	--color-orange-100: #ffa927;
	--color-orange-200: #fe9800;

	--color-red: #ff4545;
	--color-dark: #090b16;

	--nav-height: 80px;
}

html {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

body[data-theme='dark'] {
	background-color: var(--color-dark);
	color: var(--color-white);
}

body[data-theme='light'] {
	background-color: var(--color-white);
	color: var(--color-black);
}

.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

.loading-pulse {
	border-radius: 12px;
	background-color: var(--color-gray-50);
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
